# --- MacOS ---
# General
.DS_Store
.AppleDouble
.LSOverride

# --- VS Code ---
.vscode/*
.vscode/settings.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
# --- END VS Code ---

# --- JetBrains IDE ---
.idea
# --- END JetBrains IDE ---

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# dotenv environment variables file
*.env
.env
.env.test
.env.debug

# certs
*/certs

# build
*/build